<p-toast />
<p-confirmDialog />
<div class="theme">
    <div class="header">
        <div class="headTitle">
            <i class="pi pi-th-large"></i>
            <span class="ml-4 tasksBoard">Admin Panel</span>
        </div>
        <div class="flex justify-content-end gap-3">
            <p-button size="small" (click)="mainScreen()" [outlined]="true" severity="info" [raised]="true"
                label="Main Screen" />
            <p-button size="small" (click)="logout($event)" severity="danger" [raised]="true" label="Log Out" />
        </div>
    </div>
    <div>
        <app-table></app-table>
    </div>
</div>