.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLight {
    color: #000;
    background: rgb(241, 241, 241);
    border: 1px solid rgb(227, 227, 227);
}

.headerDark {
    color: #fff;
    background: #161616;
    border: 1px solid #272727;
}

.tasksBoard {
    font-size: large;
}

.themeLight {
    background-color: rgb(246, 246, 246);
    min-height: 100vh;
}

.themeDark {
    background-color: #232323;
    min-height: 100vh;
}