<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
    [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" [life]="7000" />
<p-confirmDialog />
<div [ngClass]="selectedTheme=='dark'?'themeDark':'themeLight'">
    <div [ngClass]="selectedTheme=='dark'?'header headerDark':'header headerLight'">
        <div class="headTitle">
            <i class="pi pi-th-large"></i>
            <span class="ml-4 tasksBoard">Admin Panel</span>
        </div>
        <div class="flex justify-content-end gap-3">
            <p-button *ngIf="selectedTheme=='dark'" [text]="true" icon="pi pi-moon" severity="secondary"
                (click)="darkTheme()" />
            <p-button *ngIf="selectedTheme!='dark'" [text]="true" icon="pi pi-sun" severity="secondary"
                (click)="lightTheme()" />
            <p-button size="small" (click)="mainScreen()" severity="info" [outlined]="true" [raised]="true"
                label="Main Screen" />
            <p-button size="small" (click)="logout($event)" severity="danger" label="Log Out" />
        </div>
    </div>
    <div>
        <app-table></app-table>
    </div>
</div>