<div class="modal" [ngStyle]="{'display':display}" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'blur-background': display}">
    <div class="subscribe1">
        <div class="popup-header m-4">
            <span class="header">Forgot your password?</span>
            <i class="pi pi-times close-popup-icon" (click)="closePopup()"></i>
        </div>
        <div class="pop-contant">
            <p class="text-white mb-4 mt-4 ml-8">Your password will be reset by email.</p>
            <div class="controls">
                <label class="login-label display-8 mb-2 text-white font-weight-bold">Enter your email
                    address</label>
                <input type="email" class="forgot-control-lg" placeholder="Email" name="email" [(ngModel)]="email"
                    required>
                <button class="next-btn-primary mt-2" (click)="forgotPasswordMail()">Next</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" [ngStyle]="{'display':displayVerify}" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'blur-background': displayVerify}">
    <div class="subscribe1">
        <div class="pop-contant">
            <div class="box">
                <i class="fa fa-envelope" style="font-size:48px;color:#e31c25; margin-bottom: 10px;"
                    aria-hidden="true"></i>
                <span class="title">Check your email</span>
                <span class="title1">We've sent instructions on how to reset <br> your password to
                    <strong class="bold-email">{{email}}</strong></span>
                <a class="title2" href="login">Verified logging in</a>
            </div>
        </div>
    </div>
</div>

<div class="subscribe container-fluid py-5 text-center">
    <div class="main-page-control">
        <div></div>
        <button class="login-btn-primary py-2 px-3" (click)="mainScreen()">Main Page</button>
    </div>

    <h4 class="display-4 text-white font-weight-bold pt-5 mb-3">Panel For Admin Only</h4>
    <p class="text-white mb-4">Login here to access users data</p>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" class="form-inline justify-content-center mb-5 -ml-5">
        <div>
            <div>
                <label class="login-label display-8 mb-2 text-white font-weight-bold">Email Address</label>
                <input type="email" class="login-control-lg" placeholder="Email" name="email" ngModel required>
            </div>
            <div>
                <label class="login-label display-8 mb-2 text-white font-weight-bold">Password</label>
                <input type="password" placeholder="Password" id="password" name="password" ngModel required
                    class="login-control-lg">

            </div>
            <div class="btns mt-2">
                <a (click)="forgotPass()" style="color: #e31c25; margin-left:5px">Reset Password</a>
                <button class="login-btn-primary" type="submit">Login</button>
            </div>
        </div>
    </form>
</div>