<div [ngClass]="mode ? 'main-header-dark' : 'main-header'">
    <div [ngClass]="mode ? 'header header-dark': 'header header-light'">
        <div>
            <i class="pi pi-th-large"></i>
            <span class="ml-2 tasksBoard">TasksBoard</span>
        </div>

        <div class="nav">
            <!-- <span class="p-input-icon-left searchIconBox"> -->
            <!-- naviagtion -->
            <nav>
                <ul class="desktop-menu">
                    <li *ngFor="let item of menuItems">
                        <a (click)="scrollTo(item.link)"
                            [ngClass]="{'menu-item': true, 'active': activeMenuItem === item.link }">{{
                            item.label
                            }}</a>
                    </li>
                </ul>
            </nav>
            <!-- </span> -->
        </div>

        <div class="profile">
            <i (click)="admin()" class="pi pi-user mr-2"></i>
        </div>
    </div>
</div>
<app-contactform appResponsive #banerComponent></app-contactform>
<app-footer appResponsive #personalComponent></app-footer>
<!-- <app-login appResponsive #loginComponent></app-login> -->