.main-header-dark {
    background-color: #182024;
}

.main-header {
    background-color: rgb(246, 248, 249);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 0.5rem;
    border-radius: 0 0 8px 8px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-light {
    background: #fff;
    color: #495057;
    border: 1px solid #dee2e6;
}

.header-dark {
    background-color: rgb(24, 26, 27);
    color: rgb(181, 175, 166);
    border: solid 1px rgb(48, 52, 54);
}

:host {
    display: block;
    background-color: var(--black);
}

:host.pc .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    list-style: none;
    position: fixed;
    display: flex;
    color: #69F0AE;
    /* background-color: #263238;
    padding: 1em;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%; */
    transition: transform 0.3s ease;
}

.bx {
    font-size: 30px;
    color: #69F0AE;
}

.desktop-menu {
    list-style: none;
    /* position: fixed; */
    display: flex;
    color: #69F0AE;
    /* background-color: #263238; */
    /* padding: 1.3em; */
    z-index: 1000;
    top: 0;
    left: 0;
    /* padding-left: 30px; */
    /* width: 100%; */
}

.desktop-menu li {
    margin-right: 25px;
}

.mobile-menu {
    list-style: none;
    position: fixed;
    display: flex;
    color: #69F0AE;
    /* background-color: #263238; */
    /* padding: 1em; */
    /* z-index: 1000; */
    /* width: 100%; */
    /* top: 60px; */
    flex-direction: column;
}

.mobile-menu li {
    margin-left: 40px;
    padding-bottom: 10px;
}

.menu-item {
    cursor: pointer;
    transition: color 0.3s ease;
}

.desktop-menu a.active,
.mobile-menu a.active {
    color: lightblue
}

@media screen and (max-width: 768px) {
    .mobile-menu-icon {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
}