.progress-spinner {
    position: fixed;
    z-index: 9999;
    height: 1rem;
    width: 1rem;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(155, 155, 155, 0.53);
}

:host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.feeDue {
    font-weight: 700;
    color: #ff5252;
    text-decoration: line-through;
}

.lowFee {
    font-weight: 700;
    color: #ffa726;
}

.onFee {
    font-weight: 700;
    color: #66bb6a;
}

:host ::ng-deep .row-accessories {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.modal-content {
    max-width: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.modal-content-dark {
    background-color: rgb(24, 26, 27);
    color: #a6a6a6;
}

.modal-content-light {
    background-color: var(--bs-modal-bg);
    color: #727272;
}

.popUpHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}

.popup-header-span {
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.popup-prof-des {
    line-height: 1.5rem;
    font-size: .875rem;
    letter-spacing: .0142857143em;
    font-weight: 400;
}

.popup-prof-pic {
    line-height: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: 400;
    margin: 0 var(--view-h-padding) 10px;
    padding: 4% 0 2% 0;
}

.popup-des {
    display: grid;
}

.btnPopup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.changeBtn {
    border: solid 1px #727272;
    border-radius: 8px;
    padding: 3% 13% 3% 12%;
}

.removeBtn {
    border: solid 1px #727272;
    border-radius: 8px;
    padding: 3% 13% 3% 12%;
}