<div class="card flex justify-content-end flex-wrap">
    <div class="flex justify-content-end gap-3 mt-5 mr-5 mb-2">
        <p-button (click)="newUser()" label="Add New User" />
        <p-button (click)="newUser1()" label="Add New User1" />
    </div>
    <p-dialog header="Add User" [modal]="true" [(visible)]="visible"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '55vw' }" [draggable]="false"
        [resizable]="false" [maximizable]="true">
        <form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)">
            <div class="flex flex-wrap">

                <div class="flex flex-column gap-3 mb-5 mr-4">
                    <label for="id" class="font-semibold w-6rem">ID</label>
                    <input pInputText id="id" class="flex-auto" autocomplete="off" name="id" ngModel required />
                </div>
                <div class="flex flex-column gap-3 mb-5 mr-4">
                    <label for="name" class="font-semibold w-6rem">Name</label>
                    <input pInputText id="name" class="flex-auto" autocomplete="off" name="name" ngModel required />
                </div>
                <div class="flex flex-column gap-3 mb-5 mr-4">
                    <label for="phone" class="font-semibold w-6rem">Phone No.</label>
                    <input pInputText id="phone" class="flex-auto" autocomplete="off" name="phone" ngModel required />
                </div>
                <div class="flex flex-column gap-3 mb-5 mr-4">
                    <label for="aadhar" class="font-semibold w-9rem ">Aadhar Card No.</label>
                    <input pInputText id="aadhar" class="flex-auto" autocomplete="off" name="aadhar" ngModel required />
                </div>
                <div class="flex flex-column gap-3 mb-5 mr-4">
                    <label for="address" class="font-semibold w-6rem">Address</label>
                    <input pInputText id="address" class="flex-auto" autocomplete="off" name="address" ngModel
                        required />
                </div>
                <div class="flex flex-column gap-3 mb-5 mr-4">
                    <label for="doj" class="font-semibold w-9rem">Date Of Joining</label>
                    <input pInputText id="doj" class="flex-auto" autocomplete="off" name="doj" ngModel required />
                </div>
                <div class="flex flex-column gap-3 mb-5 mr-4">
                    <label for="advance" class="font-semibold w-6rem">Advance</label>
                    <input pInputText id="advance" class="flex-auto" autocomplete="off" name="advance" ngModel
                        required />
                </div>
                <div class="flex flex-column gap-3 mb-5 mr-4">
                    <label for="fee" class="font-semibold w-6rem">Fee</label>
                    <input pInputText id="fee" class="flex-auto" autocomplete="off" name="fee" ngModel required />
                </div>
            </div>

            <div class="flex flex-column gap-3 mb-5">
                <label for="photo" class="font-semibold w-6rem">Photo</label>
                <div class="card flex justify-content-start">
                    <p-toast />
                    <p-fileUpload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                        url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                        (onUpload)="onUpload($event)" />
                </div>
            </div>

            <div class="flex justify-content-end gap-3">
                <p-button label="Cancel" severity="secondary" (click)="cancel()" />
                <p-button label="Save" type="submit" />
            </div>
        </form>
    </p-dialog>
</div>